@import "tailwindcss";

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
  body {
    @apply bg-slate-950 text-slate-100 select-none;
  }
}

/* Swiper pagination dots – FINAL */
.swiper-pagination-bullet {
  background-color: rgb(100 116 139); /* slate-500 */
  width: 8px;
  height: 8px;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: rgb(45 212 191); /* teal-400 */
  width: 22px;
  border-radius: 999px;
}
